<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>create</h1>

<form th:action="@{/km/create}" method="post" th:object="${km}">
    <table class="table table-striped">
        <!--                                <tr>-->
        <!--                                    <td>ID</td>-->
        <!--                                    <td><input type="text" th:field="*{id}" />-->
        <!--                                        &lt;!&ndash;                    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>&ndash;&gt;-->
        <!--                                    </td>-->
        <!--                                </tr>-->
        <tr>
            <th style="font-size: 150%">Tiêu đề</th>
            <td><input type="text" th:field="*{name}" class="form-control" />
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </td>
        </tr>

        <tr>
            <th style="font-size: 150%">Tg bat dau</th>
            <td><input type="text" th:field="*{beginDate}" class="form-control" />
                                <span th:if="${#fields.hasErrors('beginDate')}" th:errors="*{beginDate}"></span>
            </td>
        </tr>

        <tr>
            <th style="font-size: 150%">Tg ket thuc</th>
            <td><input type="text" th:field="*{endDate}" class="form-control" />
                                <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
            </td>
        </tr>

        <tr>
            <th style="font-size: 150%">Muc giam gia</th>
            <td><input type="text" th:field="*{discount}" class="form-control" />
                                <span th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}"></span>
            </td>
        </tr>

        <tr>
            <th style="font-size: 150%">Chi tiet</th>
            <td><input type="text" th:field="*{note}" class="form-control" />
                                <span th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></span>
            </td>
        </tr>
        <tr>
            <td><input type="reset" value="Reset" class="btn btn-success"></td>
            <td><input type="submit" value="Create" class="btn btn-primary"></td>
        </tr>
    </table>
</form>
</body>
</html>