/FPT_SERVLET/WebApplication1/nbproject/private/
/FPT_SERVLET/WebApplication1/dist/
/FPT_SERVLET/WebApplication1/build/
/FPT_SERVLET/WebApplication2/nbproject/private/
/FPT_SERVLET/WebApplication2/build/
/FPT_SERVLET/WebApplication3/nbproject/private/
/FPT_SERVLET/WebApplication3/build/
/FPT_SERVLET/week_1/demo_web_netbeans/nbproject/private/
/FPT_SERVLET/week_1/demo_web_netbeans/build/
/FPT_SERVLET/week_2/demo_simple_servlet/nbproject/private/
/FPT_SERVLET/week_2/demo_simple_servlet/build/
