
.main-left {
    flex: 1;
    width: 200px; /* Điều chỉnh chiều rộng của thanh điều hướng */
    height: 720px;
    background: var(--blue);
    border-radius: 7px;    
}
img {
    width: 32px; 
    height: 32px; 
}
.sidebar ul {
    list-style-type: none; /* Loại bỏ dấu đầu dòng mặc định */
    margin-top: 10px;
    
}

.sidebar ul li a {
    display: flex; /* Sắp xếp biểu tượng và văn bản theo hàng ngang */
    align-items: center; /* Căn giữa biểu tượng và văn bản theo chiều dọc */
    padding: 7.5px; /* Thêm đệm xung quanh mỗi mục */
    text-decoration: none; /* Loại bỏ gạch chân của liên kết */
    color: rgb(255, 255, 255); /* Đặt màu văn bản */
}

.sidebar ul li img  {
    margin-right: 5px; 
   
}
.sidebar ul li a:hover img  {
    margin-right: 10px; /* Thêm khoảng cách giữa biểu tượng và văn bản */
    background: var(--dark-blue);
    border-radius: 4px; 
}

ol,ul{
    padding-left: 0;
}

