/* Footer.css */
.footer {
    /*position: fixed;*/
    /*margin-top: 20px; !* Thay đổi 20px bằng chiều cao thực của footer *!*/
    /*width: 100%;*/
    /*background-color: #333333;*/
    /*color: #ffffff;*/
    /*padding: 30px 0;*/
    /*text-align: center;*/
    margin-top: auto; /*can footer o cuoi trang nhung khong duoc */
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 30px;
}

.footer-section h4 {
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.social-icons a {
    color: #ffffff;
    margin-right: 15px;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #007bff;
}
