@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --blue: #0072BC;
    --light-blue:#3794d2;
    --dark-blue:  #0b68a6;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
.header .header-2 {
    background: var(--blue);
    display: flex;
    flex-direction: row;
}

.header .header-2 .navbar {
    text-align: left;
}

.dropdown-menu{
    background: var(--light-blue) !important;

}

.header .header-2 .navbar a {
    color: #fff;
    display: inline-block;
    margin: 2px 2px; 
    padding: .65rem; 
    text-decoration: none; 
    transition: all .2s linear;
    font-size: 14.5px;
}

.header .header-2 .navbar a:hover {
    background: var(--dark-blue);
    border-radius: 10px;
}

.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav {
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
}