<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/template::header('List product')}">
</head>
<body>
<div th:replace="~{template/template::pageloader}"></div>
<nav th:replace="~{template/template::navbar}"></nav>
<section th:replace="~{view/product1/layout::sidebar}"></section>

<section class="content">
    <div class="container-fluid">
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Product list
                        </h2>
                    </div>

                    <div class="body table-responsive">

                        <p>Số lần truy cập trang web của bạn là: <span th:text="${count}"></span></p>

                        <form class="form-group" th:action="@{/product/search}" method="get">
                            <table>
                                <tr>
                                    <th>Name:</th>
                                    <td><input type="text" name="name" placeholder="Search by name" class="form-control" th:value="${name != null ? name: ''}"></td>
                                    <td><input type="submit" value="Search" class="btn btn-primary"></td>
                                </tr>
                            </table>
                        </form>
                        <br>
                        <a th:href="@{/product/create}" class="btn btn-primary btn-custom">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add new product
                        </a>
                        <table class="table table-striped" id="dataTable-listStudent">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>DateRelease</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>

                            <tr th:each="p: ${products}" th:object="${p}">
                                <td th:text="${p.id}"></td>
                                <td th:text="${p.name}"></td>
                                <td th:text="${p.category.categoryId}"></td>
                                <td th:text="${p.price}"></td>
                                <td th:text="*{#dates.format(dateRelease, 'dd/MM/yyyy')}"></td>
                                <td th:text="${p.quantity}"></td>
                                <td>
                                    <a type="button" class="btn btn-primary"
                                       th:href="@{/product/detail/{id}(id=${p.id})}">Detail</a>
                                    <a type="button" class="btn btn-success" th:href="@{/product/update(id=${p.id})}">Update</a>
                                    <button th:onclick="setId([[${p.id}]])" type="button"
                                            class="btn btn-info btn-lg btn btn-danger" data-toggle="modal"
                                            data-target="#myModal">Delete
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <!--                            <div class="pagination">-->
                        <!--                                <a th:if="${page.hasPrevious()}" th:href="@{/product1/list(size=${page.size}, page=${page.getNumber()})}"-->
                        <!--                                   th:text="${page.getNumber()}"></a>-->
                        <!--                                <a th:if="${page.hasNext() || page.hasPrevious()}" th:href="@{/product1/list(size=${page.size}, page=${page.getNumber() + 1})}"-->
                        <!--                                   th:text="${page.getNumber() + 1}"></a>-->
                        <!--                                <a th:if="${page.hasNext()}" th:href="@{/product1/list(size=${page.size}, page=${page.getNumber() + 2})}"-->
                        <!--                                   th:text="${page.getNumber() + 2}"></a>-->
                        <!--                            </div>-->

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a th:if="${page.hasPrevious()}"
                                       th:href="@{/product/list(size=${page.size}, page=${page.getNumber()})}">Previous</a>
                                </li>
                                <li class="page-item">
                                    <a th:if="${page.hasPrevious()}"
                                       th:href="@{/product/list(size=${page.size}, page=${page.getNumber()})}"
                                       th:text="${page.getNumber()}"></a>
                                </li>
                                <li class="page-item active">
                                    <a th:if="${page.hasNext() || page.hasPrevious()}"
                                       th:href="@{/product/list(size=${page.size}, page=${page.getNumber() + 1})}"
                                       th:text="${page.getNumber() + 1}"></a>
                                </li>
                                <li class="page-item">
                                    <a th:if="${page.hasNext()}"
                                       th:href="@{/product/list(size=${page.size}, page=${page.getNumber() + 2})}"
                                       th:text="${page.getNumber() + 2}"></a>
                                </li>
                                <li class="page-item">
                                    <a th:if="${page.hasNext()}"
                                       th:href="@{/product/list(size=${page.size}, page=${page.getNumber() + 2})}">Next</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Product</h4>
            </div>
            <div class="modal-body">
                <p>Do you really wanna delete product</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                <form method="get" id="delete-btn-form">
                    <a id="btDelete" href="#">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setId(id) {
        // alert(id);
        btDelete.href = "/product/delete/" + id;
    }
</script>
<div th:replace="~{template/template::script}"></div>
<div th:replace="~{template/template::footer}"></div>
</body>
</html>