<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List product</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<h1 class="text-center bg-success p-3">LIST PRODUCT</h1>
<a href="/product/create"><h2>Create product</h2></a>

<form th:action="@{/product/search}" method="get">
    Name: <input type="text" name="name" th:value="${name != null ? name: ''}">
    <input type="submit" value="Search">
</form>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>DateRelease</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    <tr th:each="p: ${products}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.category.categoryId}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.dateRelease}"></td>
        <td th:text="${p.quantity}"></td>
        <td>
            <a th:href="@{/product/detail/{id}(id=${p.id})}">Detail</a>
            <a th:href="@{/product/update(id=${p.id})}">Update</a>
            <!-- Button trigger modal -->
<!--            <a th:href="@{/product/delete(id=*{id})}"></a>-->
            <button th:onclick="setId([[${p.id}]])" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Remove
            </button>
        </td>
    </tr>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you really wanna delete product
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form  method="get" id="delete-btn-form">
                        <a id="btDelete" href="#">
                            <button type="button" class="btn btn-primary">Delete</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</table>

<script>
    function setId(id){
        alert(id);
        btDelete.href = "/product/delete/" + id;
    }
</script>
</body>
<script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.js"></script>
</html>