<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:action="@{/product/create}" method="post" th:object="${product}">
        <table class="table table-striped">
<!--            <tr>-->
<!--                <td>ID</td>-->
<!--                <td><input type="text" th:field="*{id}"/>-->
<!--                </td>-->
<!--            </tr>-->
            <tr>
                <th style="font-size: 150%">Name</th>
                <td><input type="text" th:field="*{name}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </td>
            </tr>
            <tr>
                <th style="font-size: 150%">Price</th>
                <td><input type="text" th:field="*{price}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                </td>
            </tr>
            <tr>
                <th style="font-size: 150%">Category</th>
                <td class="input-group mb-3">
                    <select th:field="*{category.categoryId}" class="form-control custom-select">
                        <option th:each="c: ${categories}" th:value="${c.categoryId}"
                                th:text="${c.categoryName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th style="font-size: 150%">BeginDate</th>
                <td><input type="date" th:field="*{beginDate}." class="form-control"/>
                    <span th:if="${#fields.hasErrors('beginDate')}" th:errors="*{beginDate}"></span>
                </td>
            </tr>

            <tr>
                <th style="font-size: 150%">EndDate</th>
                <td><input type="text" th:field="*{endDate}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
                </td>
            </tr>

            <tr>
                <th style="font-size: 150%">Status</th>
                <td><input type="text" th:field="*{status}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
                </td>
            </tr>
            <tr>
                <td><input type="reset" value="Reset" class="btn btn-success"></td>
                <td><input type="submit" value="Create" class="btn btn-primary"></td>
            </tr>
        </table>
    </form>
</body>
</html>