<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/template::header('Create product')}"></head>
<body>
<div th:replace="~{template/template::pageloader}"></div>
<nav th:replace="~{template/template::navbar}"></nav>
<section th:replace="~{view/product/layout::sidebar}"></section>

<section class="content">
    <div class="container-fluid">
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Update product
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <a th:href="@{/product/list}" class="btn btn-primary btn-custom">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Back to list
                        </a>
                        <br>
                        <form th:action="@{/product/update}" method="post" th:object="${product}">
                            <table class="table table-striped">
                                <tr>
                                    <th>ID</th>
                                    <td><input type="text" th:field="*{id}" class="form-control"/></td>
                                </tr>
                                <tr>
                                    <th style="font-size: 150%">Name</th>
                                    <td><input type="text" th:field="*{name}" class="form-control"/></td>
                                </tr>
                                <tr>
                                    <th style="font-size: 150%">Category</th>
                                    <td class="input-group mb-3">
                                        <select th:field="*{category.categoryId}" class="form-control custom-select">
                                            <option th:each="c: ${categories}" th:value="${c.categoryId}"
                                                    th:text="${c.categoryName}"
                                                    th:selected="${product.category.categoryId == c.categoryId}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="font-size: 150%">Quantity</th>
                                    <td><input type="text" th:field="*{quantity}" class="form-control"/></td>
                                </tr>
                                <tr>
                                    <th style="font-size: 150%">Date release</th>
                                    <td><input type="text" th:field="*{dateRelease}" placeholder="dd/MM/yyyy" class="form-control"/></td>
                                </tr>
                                <tr>
                                    <th style="font-size: 150%">Price</th>
                                    <td><input type="text" th:field="*{price}" class="form-control"/></td>
                                </tr>
                                <tr>
                                    <td><input type="reset" value="Reset" class="btn btn-success"></td>
                                    <td><input type="submit" value="Update" class="btn btn-primary"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{template/template::script}"></div>
<div th:replace="~{template/template::footer}"></div>
</body>
</html>