<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>List Product</th>
    </tr>
    <tr th:each="c, state: ${categories}">
      <td th:text="${c.categoryId}"></td>
      <td th:text="${c.categoryName}"></td>
<!--      <td th:text="*{products}"></td>-->
      <td th:each="list, i: ${state.size}">
        <p th:text="${c.getProducts().get(i.index).getName()}"></p>
      </td>
    </tr>
  </table>
</body>
</html>